.footer-container{
	max-width: 1170px;
	margin:auto;
}
.footer-row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #101130;
    padding: 2rem 0;
}
.footer-col{
   width: 38%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col .extra{
    margin-bottom: 3.5rem;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}


/* /////////////////////special ////////////////// */

.footer-col2{
   width: 30%;
   padding: 0 0 0 6rem;

}

#special-font{
    font-size: .5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
.footer-col2 h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col2 .extra{
    margin-bottom: 3.5rem;
}
.footer-col2 h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col2 ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col2 ul li a{
	font-size:  16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col2 ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col2 .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col2 .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
/*responsive*/

/* Media query for 320px */
@media only screen and (max-width: 320px) {
    .footer-col, .footer-col2 {
        width: 100%;
        padding: 0 2rem;
    }
    .footer-col h4, .footer-col2 h4 {
        margin-bottom: 25px;
    }
    .footer-col ul li a, .footer-col2 ul li a {
        font-size: 14px;
    }
    .footer-col .social-links a, .footer-col2 .social-links a {
        height: 35px;
        width: 35px;
        line-height: 35px;
    }
}

/* Media query for 375px */
@media only screen and (max-width: 375px) {
    .footer-col h4::before, .footer-col2 h4::before {
        width: 55px;
    }
}

/* Media query for 425px */
@media only screen and (max-width: 425px) {
    .footer-col ul li a, .footer-col2 ul li a {
        font-size: 15px;
    }
}

/* Media query for 768px */
@media only screen and (max-width: 768px) {
    .footer-col, .footer-col2 {
        width: 50%;
        padding: 0 1.5rem;
    }
	.footer-col2{
		margin-top: auto	;
	}
    .footer-col h4, .footer-col2 h4 {
        margin-bottom: 30px;
    }
    .footer-col ul li a, .footer-col2 ul li a {
        font-size: 16px;
    }
    .footer-col .social-links a, .footer-col2 .social-links a {
        height: 40px;
        width: 40px;
        line-height: 40px;
    }
}