.sponsor-wrapper {
    background: white;
    width: 100vw;
    height: 2rem;
    overflow: hidden;
    position: relative;
}

.sponsor-img {
    color: #4caf50;
    /* color: blue; */
    font-size: 1.2rem;
    font-weight: 500;
    width: auto;
    height: 100%;
    object-fit: contain;
    object-position: center;
    position: absolute;
    left: -10%; /* Start position off-screen to the left */
}

.sponsor{
    display: flex;
    background: white;
    width: 100vw;
    height: 4rem;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.sponsor-head{
    font-size: 1.2rem;
    color: black;
}
.sponsor-image{
    height: 100%;
    width: auto;
    object-fit: contain;
    object-position: center;

}